.nav {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}
.left {
  width: 25%;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 70%;
}
